:host{
  width: 100%;
  height: 100px;
  background-color: green;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
  padding:0 16px;
  display: flex;
  gap: 16px;
  align-items: center;

  img{
    border: 1px solid black;
    padding: 6px;
    border-radius: 100%;
    cursor: pointer;
  }

  h1{
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  :host{
    height: 75px;

    img{
      height: 50px;
      width: 50px;
    }

    h1{
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}
