:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
      width: 100%;
    }
  }
}
