:host {
  width: 500px;
  mat-card {
    position: relative;
    width: 100%;
    text-align: center;
    mat-card-title {
      width: 100%;
    }

    .returnBtn{
      width: fit-content;
      height: fit-content;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 3px;
      right: 3px;

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }

      &:active{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .zoneWrapper {
    margin-top: 8px;
    width: 500px;
    display: flex;
    justify-content: space-between;


    .exerciseZone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 230px;
      gap: 8px;
      font-size: 16px;

      .exerciseList{
        height: calc(100vh - 245px);
        width: 100%;
        overflow-y: auto;
        .exerciseCard {
          z-index: 1;
          margin-bottom: 4px;
          &:hover {
            cursor: pointer;
            transform: translate(15px, 0);
            background-color: rgba(141, 236, 141, 0.5);
          }
          &:active {
            cursor: pointer;
            transform: translate(15px, 0);
            background-color: rgba(141, 236, 141, 0.5);
          }

          mat-card-content {
            display: flex;
            flex-direction: column;

            .musclesDisplay,
            .categoryDisplay {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              width: 100%;
              gap: 4px;
              justify-content: center;
            }

            .musclesDisplay{
              color:rgb(226, 71, 71);
            }

            .musclesDisplay{
              div{
                display: flex;
                flex-direction: row;
                gap: 2px;
              }
            }
          }
        }
      }
    }

    .workoutZone {
      width: 230px;
      padding: 4px;
      height : fit-content;
      min-height: calc(100vh - 161px);


      mat-card-subtitle {
        font-size: 20px;
        width: 75%;
        height: 100px;
        word-break: normal;
        text-align: center;
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
      }

      mat-card {
        font-size: 20px;
        width: 100%;
        height: 100%;

        span {
          word-break: normal;
          text-align: center;
          position: sticky;
          top: 50%;
          transform: translateY(-50%);
          margin-left: auto;
          margin-right: auto;
        }

          .exerciseInWO{
            height: 100px;
            position: relative;
            margin-bottom: 4px;
            width: 98%;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
              position: absolute;
              top: 3px;
              right: 3px;
              display: none;
              background-color: transparent;
              height: fit-content;
              width: fit-content;
              border: none;
            }

            &:hover{
              cursor: pointer;
              transform: translateY(-3px);
              background-color: rgba(141, 236, 141, 0.5);

              button{
                display: flex;

                &:hover{
                  cursor: pointer;
                  transform: translate(1.1);
                }
                &:active{
                  cursor: pointer;
                  transform: translate(1.1);
                }
              }
            }
          }


      }

      .headWZ{
        display: flex;
        gap: 4px;
        align-items: center;

        .navBox{
          display: flex;
          flex-direction: column;
          justify-content: center;
          button{
            height: fit-content;
            width: fit-content;
            background-color: transparent;
            border: none;
  
            &:hover{
              cursor: pointer;
              transform: scale(1.1);
            }
            &:active{
              transform: scale(1.1);
            }
          }
        }
      }

      .workoutList{
        min-height: calc(100vh - 248px);
      }
    }

    .noWorkouts {
      background-color: rgba(66, 70, 58, 0.2);
      padding: 20px 0;

      &:hover {
        cursor: pointer;

        mat-card-subtitle {
          transform: translateY(-10px) scale(1.1);
        }
      }
      &:active {
        cursor: pointer;

        mat-card-subtitle {
          transform: translateY(-10px) scale(1.1);
        }
      }
    }
  }
}
