:host{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .startScreenWrapper{
    position: absolute;
    margin: auto;
    top: 100px;
    right: 0;
    left: 0;
    padding: 16px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
