<mat-card *ngIf="!customize && !library && !manage">
  <mat-card-title>Find or create Exercises <button class="returnBtn" (click)="goToMain()"><mat-icon>keyboard_return</mat-icon></button> </mat-card-title>
  <mat-card-subtitle
    >Explore the libraty or create your own exercises</mat-card-subtitle
  >
</mat-card>
<div *ngIf="!customize && !library && !manage" class="options">
  <mat-card (click)="openCard('library')"> Libreary </mat-card>
  <mat-card (click)="openCard('customize')"> Create an exercise </mat-card>
  <mat-card (click)="openCard('manage')"> Manage exercises </mat-card>
</div>
<mat-card *ngIf="customize" class="createExerciseCard">
  <mat-card-title
    >Create exercise
    <button *ngIf="!comingFromLibray" (click)="closeCustom()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button *ngIf="comingFromLibray" (click)="returnToLibrary()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #exerciseForm="ngForm">
      <mat-form-field>
        <mat-label>Name der Übung</mat-label>
        <input
          id="exerciseName"
          required
          type="text"
          name="exerciseName"
          minlength="3"
          pattern="^[a-zA-Z0-9\s-]*$"
          #exerciseNameInput="ngModel"
          [(ngModel)]="exerciseName"
          matInput
        />
      </mat-form-field>
      <mat-error
        *ngIf="
          exerciseNameInput.invalid &&
          (exerciseNameInput.touched || exerciseNameInput.dirty)
        "
      >
        <span *ngIf="exerciseNameInput.errors?.['pattern']"
          >forbidden pattern</span
        >
        <span *ngIf="exerciseNameInput.errors?.['minlength']"
          >minimum of three characters</span
        >
        <span *ngIf="exerciseNameInput.errors?.['required']"
          >input missing</span
        >
      </mat-error>

      <h3>Which muscle group shall be targeted</h3>

      <div #musclesContainer class="tMusclesContainer">
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="abdominals"
          [(ngModel)]="targetedMuscles.abdominals"
          value="abdominals"
          id = "abdominals"
          >abdominals</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="abductors"
          [(ngModel)]="targetedMuscles.abductors"
          value="abductors"
          >abductors</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="adductors"
          [(ngModel)]="targetedMuscles.adductors"
          value="adductors"
          >adductors</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="biceps"
          [(ngModel)]="targetedMuscles.biceps"
          value="biceps"
          >biceps</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="calves"
          [(ngModel)]="targetedMuscles.calves"
          value="calves"
          >calves</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="chest"
          [(ngModel)]="targetedMuscles.chest"
          value="chest"
          >chest</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="forearms"
          [(ngModel)]="targetedMuscles.forearms"
          value="forearms"
          >forearms</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="glutes"
          [(ngModel)]="targetedMuscles.glutes"
          value="glutes"
          >glutes</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="hamstrings"
          [(ngModel)]="targetedMuscles.hamstrings"
          value="hamstrings"
          >hamstrings</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="lats"
          [(ngModel)]="targetedMuscles.lats"
          value="lats"
          >lats
        </mat-checkbox>
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="lower_back"
          [(ngModel)]="targetedMuscles.lower_back"
          value="lower_back"
          >lower back</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="middle_back"
          [(ngModel)]="targetedMuscles.middle_back"
          value="middle_back"
          >middle back</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="neck"
          [(ngModel)]="targetedMuscles.neck"
          value="neck"
          >neck</mat-checkbox
        >
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="quadriceps"
          [(ngModel)]="targetedMuscles.quadriceps"
          value="quadriceps"
          >quadriceps
        </mat-checkbox>
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="traps"
          [(ngModel)]="targetedMuscles.traps"
          value="traps"
          >traps
        </mat-checkbox>
        <mat-checkbox
          (change)="setUpMuscleValidation()"
          color="primary"
          name="triceps"
          [(ngModel)]="targetedMuscles.triceps"
          value="triceps"
          >triceps</mat-checkbox
        >
      </div>

      <mat-form-field>
        <mat-label>category (optional)</mat-label>
        <select
          (change)="checkCategory()"
          matNativeControl
          id="exerciseCategory"
          name="exerciseCategory"
          #exerciseCategoryInput="ngModel"
          [(ngModel)]="exerciseCategory"
        >
          @for (category of categorys; track category){
          <option [value]="category.value">{{ category.viewValue }}</option>
          }
        </select>
      </mat-form-field>
      <mat-error
        *ngIf="
          exerciseCategoryCustomInput.invalid &&
          (exerciseCategoryCustomInput.touched ||
            exerciseCategoryCustomInput.dirty)
        "
      >
        <span *ngIf="exerciseCategoryCustomInput.errors?.['pattern']"
          >forbidden pattern</span
        >
        <span *ngIf="categoryInvalid"
          >just one category field</span
        >
      </mat-error>

      <mat-form-field>
        <mat-label>custom category (optional)</mat-label>
        <input
          (change)="checkCategory()"
          id="exerciseCategoryCustom"
          type="text"
          name="exerciseCategoryCustom"
          pattern="^[a-zA-Z0-9\s-]*$"
          placehoder="z.B. Kraftausdauer"
          #exerciseCategoryCustomInput="ngModel"
          [(ngModel)]="exerciseCategoryCustom"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>describtion</mat-label>
        <textarea
          id="exerciseDescribtion"
          type="text"
          name="exerciseDescribtion"
          pattern="^[a-zA-Z0-9\s-]*$"
          #exerciseDescribtionInput="ngModel"
          [(ngModel)]="exerciseDescribtion"
          matInput
        ></textarea>
      </mat-form-field>
      <mat-error
        *ngIf="
          exerciseDescribtionInput.invalid &&
          (exerciseDescribtionInput.touched || exerciseDescribtionInput.dirty)
        "
      >
        <span *ngIf="exerciseDescribtionInput.errors?.['pattern']"
          >forbidden pattern</span
        >
      </mat-error>

      <mat-slide-toggle
        name="trackProgress"
        color="primary"
        [(ngModel)]="trackProgress"
        >track progress</mat-slide-toggle
      >
      <br />

      <div *ngIf="trackProgress">
        <h3>How to measure progress?</h3>

        <mat-checkbox
          color="primary"
          (change)="setUpTrackingValidation()"
          name="weight"
          [(ngModel)]="trackingOptions.weight._value"
          >weight</mat-checkbox
        >
        <mat-checkbox
          color="primary"
          (change)="setUpTrackingValidation()"
          name="repetitions"
          [(ngModel)]="trackingOptions.repetitions._value"
          >repetitions</mat-checkbox
        >
        <mat-checkbox
          color="primary"
          (change)="setUpTrackingValidation()"
          name="time_inSmin"
          [(ngModel)]="trackingOptions.time_inSmin._value"
          >time in seconds(min)</mat-checkbox
        >
        <mat-checkbox
        color="primary"
        (change)="setUpTrackingValidation()"
        name="time_inSmax"
        [(ngModel)]="trackingOptions.time_inSmax._value"
        >time in seconds(max)</mat-checkbox
      >
        <mat-checkbox
          color="primary"
          (change)="setUpTrackingValidation()"
          name="distance"
          [(ngModel)]="trackingOptions.distance._value"
          >distance in m</mat-checkbox
        >
        <mat-checkbox
          color="primary"
          (change)="setUpTrackingValidation()"
          name="height"
          [(ngModel)]="trackingOptions.height._value"
          >height in m</mat-checkbox
        >
      </div>

      <br />

      <mat-slide-toggle
        name="isBreakBtwSets"
        color="primary"
        [(ngModel)]="isBreakBtwSets"
        >break between sets</mat-slide-toggle
      >
      <br />
      <div class="breakContainer" [ngClass]="{ 'd-none': !isBreakBtwSets }">
        <mat-form-field>
          <mat-label>break-time</mat-label>
          <input
            min="1"
            [required]="isBreakBtwSets"
            id="breakTimeInput"
            type="number"
            name="breakTimeInput"
            placehoder="z.B. 90 Sekunden"
            #breakTimeInput="ngModel"
            [(ngModel)]="breakTime"
            matInput
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            breakTimeInput.invalid &&
            (breakTimeInput.touched || breakTimeInput.dirty)
          "
        >
          <span *ngIf="breakTimeInput.errors?.['min']"
            >minimum 1 second</span
          >
        </mat-error>
      </div>

      <div *ngIf="success" class="successMessage">exercise created</div>
      <div *ngIf="fail" class="text-danger">
        Upload failed, try later
      </div>
      <button
        type="submit"
        [disabled]="
          exerciseForm.invalid ||
          (trackProgress && inValidTracking) ||
          inValidMuscles ||
          categoryInvalid
        "
        mat-raised-button
      >
        Übung erstellen
      </button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="manage" class="manageExercisesCard">
  <mat-card-title
    >Manage exercises
    <button (click)="closeManage()">
      <mat-icon>cancel</mat-icon>
    </button></mat-card-title
  >
  <mat-card-content>
    <mat-form-field class="searchBar">
      <mat-label>Search exercises</mat-label>
      <input matInput [(ngModel)]="searchExpression" />
    </mat-form-field>

    <ng-container *ngFor="let exercise of allExercises; let i = index">
      <ng-container *ngIf="includesSearch(exercise.element)">
        <div
          class="normalState"
          [@cardState]="exercise.state"
          #exerciseCard
          (click)="toggleCard(exercise, i)"
        >
          <mat-card>
            <mat-card-title>{{ exercise.element.exerciseName }}</mat-card-title>
            <mat-card-content *ngIf="exercise.state === 'expanded'">
              <ng-container *ngIf="exercise.element.exerciseCategory !== ''">
                <div class="categoryDisplay">
                  {{ exercise.element.exerciseCategory }}
                </div>
              </ng-container>
              <ng-container
                *ngIf="exercise.element.exerciseCategoryCustom !== ''"
              >
                <div class="categoryDisplay">
                  {{ exercise.element.exerciseCategoryCustom }}
                </div>
              </ng-container>
              <div class="musclesDisplay">
                <ng-container
                  *ngFor="
                    let muscle of exercise.element.targetedMuscles | keyvalue
                  "
                >
                  <div *ngIf="muscle.value">{{ muscle.key }}</div>
                </ng-container>
              </div>
              <div class="describtionDisplay">
                {{ exercise.element.exerciseDescribtion }}
              </div>
              <ng-container *ngIf="exercise.element.isBreakBtwSets">
                <div class="breaktimeDisplay">
                  Break between sets
                  <div>{{ exercise.element.breakTime }}s</div>
                </div>
              </ng-container>
              <div class="trackDisplay" *ngIf="exercise.element.trackProgress">
                Track progress
                <div>
                  <ng-container
                    *ngFor="
                      let tracking of exercise.element.trackingOptions
                        | keyvalue : keyvalueComparator
                    "
                  >
                    <div *ngIf="tracking.value._value">{{ tracking.value.alias }}</div>
                  </ng-container>
                </div>
              </div>
              <div class="positonDelBtn">
                <button
                  (click)="openDelete($event, exercise.element.exerciseId, i)"
                  mat-raised-button
                  color="warn"
                >
                  Delete <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="library" class="findExerciseCard">
  <mat-card-title
    >Find exercise
    <button (click)="closeLibray()">
      <mat-icon>cancel</mat-icon>
    </button></mat-card-title
  >
  <mat-card-content>
    <form (ngSubmit)="onRequest()" #requestForm="ngForm">
      <mat-form-field class="searchExerciseName">
        <mat-label>name</mat-label>
        <input
          id="searchExerciseName"
          type="text"
          name="searchExerciseName"
          pattern="^[a-zA-Z0-9\s-]*$"
          #searchExerciseNameInput="ngModel"
          [(ngModel)]="searchExerciseName"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>muscle</mat-label>
        <select
          matNativeControl
          id="searchExerciseMuscles"
          name="searchExerciseMuscles"
          #searchExerciseMusclesInput="ngModel"
          [(ngModel)]="searchExerciseMuscles"
        >
          <option value=""></option>
          <option
            *ngFor="let muscle of targetedMuscles | keyvalue"
            [value]="muscle.key"
          >
            {{ muscle.key }}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>category</mat-label>
        <select
          (change)="checkCategory()"
          matNativeControl
          id="searchExerciseCategory"
          name="searchExerciseCategory"
          #searchExerciseCategoryInput="ngModel"
          [(ngModel)]="searchExerciseCategory"
        >
          @for (category of categorys; track category){
          <option [value]="category.value">{{ category.viewValue }}</option>
          }
        </select>
      </mat-form-field>

      <button type="submit" mat-raised-button>Find exercise</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card
  class="searchedExercises"
  *ngIf="library && allSearchedExercises.length !== 0"
>
  <mat-card *ngFor="let exercise of allSearchedExercises">
    <mat-card-title>{{ exercise.name }}</mat-card-title>
    <mat-card-content>
      <span>{{ exercise.muscle }}</span>
      <span>{{ exercise.type }}</span>
    </mat-card-content>
    <button
      (click)="pick(exercise)"
      type="submit"
      color="primary"
      mat-raised-button
    >
      Pick
    </button>
  </mat-card>
</mat-card>

<div
  *ngIf="isBlurr"
  [ngClass]="{ blurred: activateBlurr }"
  class="blurLayer"
></div>
