:host {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;

  mat-card {
    width: 100%;
    mat-card-header {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      mat-icon{
        position: absolute;
        left: 4px;
        top: 4px;
        color:black
      }
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-form-field {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      button{
        width: 100%;
        margin-bottom: 8px;
      }
    }
  }
}
