<mat-card>
  <mat-card-header>
   <a href="/"> <mat-icon fontIcon="keyboard_return"></mat-icon></a>
    <mat-card-title> Sign Up </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm">
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input id="firstName" required type="text" name="firstName"  minlength="3" #firstNameInput="ngModel" [(ngModel)]="firstName" matInput />
      </mat-form-field>
      <mat-error *ngIf="firstNameInput.invalid && (firstNameInput.touched || firstNameInput.dirty)">
        <span *ngIf="firstNameInput.errors?.['minlength']">minimum three characters</span>
        <span *ngIf="firstNameInput.errors?.['required']">missing input</span>
      </mat-error>
      <mat-form-field>
        <mat-label>Nachname</mat-label>
        <input id="lastName" required type="text" name="lastName"  minlength="3" #lastNameInput="ngModel" [(ngModel)]="lastName" matInput />
      </mat-form-field>
      <mat-error *ngIf="lastNameInput.invalid && (lastNameInput.touched || lastNameInput.dirty)">
        <span *ngIf="lastNameInput.errors?.['minlength']">minimum three characters</span>
        <span *ngIf="lastNameInput.errors?.['required']">missing input</span>
      </mat-error>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input id="email" required type="email" name="email" pattern="[A-Za-z0-9._%\-]+@[A-Za-z0-9._%\-]+\.[a-z]{2,3}"  minlength="3" #emailInput="ngModel" [(ngModel)]="signUpEmail" matInput />
      </mat-form-field>
      <mat-error *ngIf="emailInput.invalid && (emailInput.touched || emailInput.dirty)">
        <span *ngIf="emailInput.errors?.['pattern']">not an email format</span>
        <span *ngIf="emailInput.errors?.['required']">missing input</span>
      </mat-error>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input id="username" required type="text" name="username"  minlength="5" #usernameInput="ngModel" [(ngModel)]="userName" matInput />
      </mat-form-field>
      <mat-error *ngIf="usernameInput.invalid && (usernameInput.touched || usernameInput.dirty)">
        <span *ngIf="usernameInput.errors?.['minlength']">minimum three characters</span>
        <span *ngIf="usernameInput.errors?.['required']">missing input</span>
      </mat-error>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input id="password" required type="password" name="password"  minlength="8" #passwordInput="ngModel" [(ngModel)]="password" matInput />
      </mat-form-field>
      <mat-error *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)">
        <span *ngIf="passwordInput.errors?.['minlength']">minimum three characters</span>
        <span *ngIf="passwordInput.errors?.['required']">missing input</span>
      </mat-error>
      <button type="submit" [disabled]="signUpForm.invalid" mat-raised-button>Sign Up!</button>
    </form>
  </mat-card-content>
</mat-card>

