<mat-card>
  <mat-card-header>
    <mat-card-title> Neues Passwort erstellen </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input id="password" required type="password" name="password"  minlength="8" #passwordInput="ngModel" [(ngModel)]="loginPassword" matInput />
      </mat-form-field>
      <mat-error *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)">
        <span *ngIf="passwordInput.errors?.['minlength']">Mindestens acht Zeichen</span>
        <span *ngIf="passwordInput.errors?.['required']">Fehlender Wert</span>
      </mat-error>
      <mat-form-field>
        <mat-label>Neues Passwort</mat-label>
        <input id="newPassword" required type="password" name="newPassword"  minlength="8" #newPasswordInput="ngModel" [(ngModel)]="newPassword" matInput />
      </mat-form-field>
      <mat-error *ngIf="newPasswordInput.invalid && (newPasswordInput.touched || newPasswordInput.dirty)">
        <span *ngIf="newPasswordInput.errors?.['minlength']">Mindestens acht Zeichen</span>
        <span *ngIf="newPasswordInput.errors?.['required']">Fehlender Wert</span>
      </mat-error>
      <mat-form-field>
        <mat-label>Passwort wiederholen</mat-label>
        <input id="newPasswordRepeat" required type="password" name="newPasswordRepeat"  minlength="8" #newPasswordRepeatInput="ngModel"  [(ngModel)]="newPasswordRepeat" matInput />
      </mat-form-field>
      <mat-error *ngIf="(newPasswordRepeatInput.invalid && (newPasswordRepeatInput.touched || newPasswordRepeatInput.dirty)) || (newPasswordRepeat !== newPassword && (newPasswordRepeatInput.touched || newPasswordRepeatInput.dirty) ) ">
        <span *ngIf="newPasswordRepeat !== newPassword">Passwörter stimmen nicht überein</span>
        <span *ngIf="newPasswordRepeatInput.errors?.['minlength']">Mindestens acht Zeichen</span>
        <span *ngIf="newPasswordRepeatInput.errors?.['required']">Fehlender Wert</span>
      </mat-error>
      <button type="submit" [disabled]="loginForm.invalid" mat-raised-button>Bestätigen</button>
      <div *ngIf="errormessage" class="text-danger">{{errormessage}}</div>
      <div *ngIf="successmessage" class="success">{{successmessage}}</div>
    </form>
  </mat-card-content>
</mat-card>
