<mat-card>
  <mat-card-header>
    <a href="/" style="text-decoration: none;"> <mat-icon fontIcon="keyboard_return"></mat-icon></a>
    <mat-card-title> Forgot Password </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(forgetPasswordForm)"  #forgetPasswordForm="ngForm">
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input id="email" required type="email" name="email" pattern="[A-Za-z0-9._%\-]+@[A-Za-z0-9._%\-]+\.[a-z]{2,3}"  minlength="3" #emailInput="ngModel" [(ngModel)]="forgetPasswordEmail" matInput />
      </mat-form-field>
      <mat-error *ngIf="emailInput.invalid && (emailInput.touched || emailInput.dirty)">
        <span *ngIf="emailInput.errors?.['pattern']">Kein E-Mail Format</span>
        <span *ngIf="emailInput.errors?.['required']">Fehlender Wert</span>
      </mat-error>
      <button type="submit" [disabled]="forgetPasswordForm.invalid" mat-raised-button>Send</button>
      <div *ngIf="success">E-Mail wurde versendet</div>
      <div *ngIf="error">{{errorcode}}</div>
    </form>
  </mat-card-content>
</mat-card>
